BOT_BOT_TOKEN=
BOT_BOT_TARGET_CHAT_ID=
BOT_DATABASE_HOST=postgres
BOT_DATABASE_PORT=5432
BOT_DATABASE_USER=postgres
BOT_DATABASE_PASSWORD=postgres
BOT_DATABASE_NAME=khmurchik_bot
BOT_DATABASE_SSL_MODE=disable
